@tailwind base;
@tailwind components;
@tailwind utilities;


/* Install Prettier for auto class sorting */
/* [1] npm install -D prettier-plugin-tailwindcss */
/* [2] create .prettierrc.json in the project root (dont forget the . in the name)*/
/* [3] add: 
{
    "plugins": ["prettier-plugin-tailwindcss"]
  } */
/* [4] If it is not working - first try relaunching VS code */



/* CSS Variables based on project design */
@layer base {
  :root {
    --primary-green: 75, 94%, 57%;

    --secondary-grey: 0, 0%, 20%;
    --secondary-dark-grey: 0, 0%, 12%;
    --secondary-black: 0, 0%, 8%;
  }

}